{% extends 'groom/base.html' %}

{% block content %}
<h1> Вартість комплексу процедур </h1>

<table>
  <thead>
    <tr>
      <th>Порода</th>
      <th>Вартість</th>
      <th>Час виконання</th>
    </tr>
  </thead>
  <tbody>
    {% if kiev %}
      {% for item in cost %}
        <tr>
          <th>{{ item.breed }}</th>
          <th>{{ item.cost_kiev }}</th>
          <th>{{ item.time }}</th>
        </tr>
      {% endfor %}
    {% else %}
      {% for item in cost %}
        <tr>
          <th>{{ item.breed }}</th>
          <th>{{ item.cost_murgorod }}</th>
          <th>{{ item.time }}</th>
        </tr>
      {% endfor %}
    {% endif%}
  </tbody>
</table>
{% endblock %}